<!-- templates/stats.html -->

{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Statistics</h1>
    
    <div class="mb-3 text-center">
        <a href="{{ url_for('home') }}" class="btn btn-secondary mb-4">Back Home</a>
    </div>
    
    <div class="row">
        {% for stat, items in stats.items() %}
        <div class="col-md-6 mb-4">
            <h3>
                <a href="{{ url_for('stats_detail', stat_category=stat) }}">{{ stat }}</a>
            </h3>
            <ul class="list-group">
                {% for item in items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ loop.index }}. 
                    {% if stat == 'Artists' %}
                        {{ item['Main Artist'] }}
                    {% elif stat == 'Countries' %}
                        {{ item['Country'] }}
                    {% elif stat == 'Languages' %}
                        {{ item['Language'] }}
                    {% elif stat == 'Genres' %}
                        {{ item['Genre'] }}
                    {% elif stat == 'Keys' %}
                        {{ item['Key'] }}
                    {% elif stat == 'BPMs' %}
                        {{ item['BPM'] }}
                    {% elif stat == 'BPM Ranges' %}
                        {{ item['BPM Range'] }}
                    {% elif stat == 'Year Released' %}
                        {{ item['Year Released'] }}
                    {% elif stat == 'Decades' %}
                        {{ item['Year Range'] }}s
                    {% else %}
                        {{ item['Year Range'] }}
                    {% endif %}
                    <span class="badge badge-primary badge-pill">{{ item['Song'] }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    
    <div class="mb-3 text-center">
        <a href="{{ url_for('home') }}" class="btn btn-secondary mb-4">Back Home</a>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search_sort.js') }}"></script>
{% endblock %}