<!-- templates/stats_detail.html -->

{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Top {{ category }}</h1>
    
    <div class="mb-3 text-center">
    <a href="{{ url_for('stats') }}" class="btn btn-secondary">Back to Stats</a>
    </div>
    
    <table class="table table-striped" id="stats-table">
        <thead>
            <tr>
                <th>#</th>
                <th data-column="{{ category }}" data-order="asc" class="sortable">{{ category }}</th>
                <th data-column="Song" data-order="asc" class="sortable">Song Count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr data-search="{{ item[category] }}">
                <td>{{ loop.index }}</td>
                <td>
                    {% if category == 'Artists' %}
                        {{ item['Main Artist'] }}
                    {% elif category == 'Countries' %}
                        {{ item['Country'] }}
                    {% elif category == 'Languages' %}
                        {{ item['Language'] }}
                    {% elif category == 'Genres' %}
                        {{ item['Genre'] }}
                    {% elif category == 'Keys' %}
                        {{ item['Key'] }}
                    {% elif category == 'BPMs' %}
                        {{ item['BPM'] }}
                    {% elif category == 'BPM Ranges' %}
                        {{ item['BPM Range'] }}
                    {% elif category == 'Year Released' %}
                        {{ item['Year Released'] }}
                    {% elif category == 'Decades' %}
                        {{ item['Year Range'] }}s
                    {% else %}
                        {{ item[category] }}
                    {% endif %}
                </td>
                <td>{{ item['Song'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ url_for('stats') }}" class="btn btn-secondary">Back to Stats</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search_sort.js') }}"></script>
{% endblock %}